@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>



    <h3>Customer Info</h3>
    <form method="post" asp-controller="Customer" asp-action="Search">
        <b>Search By:</b>
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>First Name @Html.RadioButton("searchBy", "Fname", true)</td>
                <td>Last Name @Html.RadioButton("searchBy", "Lname")</td>
                <td>Description @Html.RadioButton("searchBy", "Address")</td>
                <td>CreationDate @Html.RadioButton("searchBy", "Phone")</td>
               
            </tr>



            <tr>
                <td>Input Search expression:</td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>



            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>
    </form>


    <h3>Customer List</h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone</th>

        </tr>
         @if (@ViewBag.customers != null)
        {
        @foreach (var customer in ViewBag.customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Fname</td>
                <td>@customer.Lname</td>
                <td>@customer.Address</td>
                <td>@customer.Phone</td>
            </tr>
          }
        }
    </table>
    <br>

    <table>
        <tr>
            <td>
                <table>
                    <th>Customers:</th>
                    <tr>
                        <td>
                            <a href="~/Customer/add">Add Items</a> |
                            <a href="~/Customer/delete">Delete Items</a> |
                            <a href="~/Customer/edit">Update Items</a> |
                            <a href="~/Customer/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Orders:</th>
                    <tr>
                        <td>
                            <a href="~/Order/add">Add Items</a> |
                            <a href="~/Order/delete">Delete Items</a> |
                            <a href="~/Order/edit">Update Items</a> |
                            <a href="~/Order/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Products:</th>
                    <tr>
                        <td>
                            <a href="~/Product/add">Add Items</a> |
                            <a href="~/Product/delete">Delete Items</a> |
                            <a href="~/Product/edit">Update Items</a> |
                            <a href="~/Product/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>


