@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    /**/
    <h3>Product Info</h3>
    <form method="post" asp-controller="product" asp-action="Search">
        <b>Search By:</b>
        <table cellpadding="2" cellspacing="2">
            <tr>                
                <td> Name @Html.RadioButton("searchBy", "Name", true)</td>              
                <td>Price @Html.RadioButton("searchBy", "Price")</td>
                <td>Description @Html.RadioButton("searchBy", "Description")</td>
                <td>CreationDate @Html.RadioButton("searchBy", "CreationDate")</td>
                <td>ExpiredDate @Html.RadioButton("searchBy", "ExpiredDate")</td>
            </tr>



            <tr>
                <td>Input Search exprrssion:</td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>



            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>
    </form>






    <h3>Product List</h3>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>ExpiredDate</th>


        </tr>
        @if (@ViewBag.products != null)
        {
            @foreach (var product in ViewBag.products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.ExpiredDate</td>
                </tr>
            }
        }
    </table>
    <br>

    <table>
        <tr>
            <td>
                <table>
                    <th>Customers:</th>
                    <tr>
                        <td>
                            <a href="~/Customer/add">Add Items</a> |
                            <a href="~/Customer/delete">Delete Items</a> |
                            <a href="~/Customer/edit">Update Items</a> |
                            <a href="~/Customer/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Orders:</th>
                    <tr>
                        <td>
                            <a href="~/Order/add">Add Items</a> |
                            <a href="~/Order/delete">Delete Items</a> |
                            <a href="~/Order/edit">Update Items</a> |
                            <a href="~/Order/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <th>Products:</th>
                    <tr>
                        <td>
                            <a href="~/Product/add">Add Items</a> |
                            <a href="~/Product/delete">Delete Items</a> |
                            <a href="~/Product/edit">Update Items</a> |
                            <a href="~/Product/search">Search Items</a> |
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>


